workflows/CQOP/Testa cambio versione.json
{
  "name": "Testa cambio versione",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const puppeteer = require('puppeteer');\n\n// Leggi l'input dal nodo precedente (rimuovi eventuali spazi nel nome della chiave)\nconst url = $input.first().json[\"startingUrl \"]  || 'https://default-url.it';\nconst versionePrevista=$input.first().json.versionePrevista;\n\n// 1) Se non esiste ancora, lancio Chromium e lo memorizzo in global.browser\n//nei nodi successivi questa parte di creazione non serve\nif (!global.browser) {\n  global.browser = await puppeteer.launch({\n    executablePath: '/usr/bin/chromium-browser',\n    headless: true,\n    args: ['--no-sandbox', '--disable-setuid-sandbox'],\n  });\n}\n\n// 2) Creo la variabile locale browser per uniformità con i nodi “Run” e “Close”\nconst browser = global.browser;\n\npage = await browser.newPage();\n\n// 1) Carico la pagina e aspetto \"network idle\"\nawait page.goto(url, {\n  waitUntil: 'networkidle0',\n  timeout: $input.first().json.browserTimeoutInMillSeconds\n});\n\n// 2) Aspetto che nel body compaia il pattern Vx.y.z\nawait page.waitForFunction(\n  () => /V\\d+\\.\\d+\\.\\d+/.test(document.body.innerText),\n  { timeout: $input.first().json.browserTimeoutInMillSeconds }\n);\n\n// 3) Estraggo la versione con un unico evaluate che usa document.evaluate()\nconst versioneTrovata = await page.evaluate(() => {\n  const xpath = \"//p[contains(text(),'V') and contains(text(),'.')]\";\n  const node = document\n    .evaluate(\n      xpath,\n      document,\n      null,\n      XPathResult.FIRST_ORDERED_NODE_TYPE,\n      null\n    )\n    .singleNodeValue;\n  return node ? node.textContent.trim() : 'Versione non trovata';\n});\n\nawait browser.close(); //questo non sarà da fare quando si eseguiranno gli altri nodi\n\n// 6) Ritorna il risultato confrontando con la versione prevista\nreturn [\n  {\n    json: {\n      url,\n      versionePrevista,\n      versioneTrovata: versioneTrovata || 'Versione non trovata',\n      isVersioneCorretta: versionePrevista === versioneTrovata,\n    },\n  },\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        128
      ],
      "id": "ab842890-0495-4e1d-bbf4-25f33d4a7bf2",
      "name": "Controllo cambio versione"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1de3f90a-9304-4e51-8114-55ff2841ffbd",
              "name": "startingUrl ",
              "value": "https://servizi.anticorruzione.it/RicercaAttestazioniWebApp/",
              "type": "string"
            },
            {
              "id": "df044210-df5b-469d-8178-2db1ee01fa7f",
              "name": "versionePrevista",
              "value": "=V1.0.4",
              "type": "string"
            },
            {
              "id": "fb3989a6-5169-41a8-b896-798f40eeccd5",
              "name": "browserTimeoutInMillSeconds",
              "value": "={{ 90*1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        128
      ],
      "id": "c8877875-f5a4-4065-9fab-6518010a787a",
      "name": "Impostazioni variabili applicazione"
    },
    {
      "parameters": {
        "fromEmail": "dev@visionova.it",
        "toEmail": "webmaster@visionova.it",
        "subject": "Alert programma CQOP estrazione lead",
        "emailFormat": "text",
        "text": "La versione del sito https://servizi.anticorruzione.it/  è cambiata.\nVerificare che funzioni ancora",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        144
      ],
      "id": "791d28d0-67c3-41a8-a99e-6be8803f0570",
      "name": "Send email",
      "webhookId": "22b3412d-e98e-412c-90ce-c846f75ef055",
      "credentials": {
        "smtp": {
          "id": "rWBfy9lqSSp2RSPT",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55306cef-fd85-4361-a65c-87fee21c95ec",
              "leftValue": "={{ $json.isVersioneCorretta }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        128
      ],
      "id": "218fdfe3-ef88-41d4-9ffe-4f3913979b80",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Test che la versione non sia cambiata\nControlla che non sia cambiata la versione del sito ed eventualmente invia una email",
        "height": 80,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "3bc0fa45-4592-48e0-8679-b756545731d6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "d723a971-995a-496a-82b2-cf852e227774",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Impostazioni variabili applicazione": {
      "main": [
        [
          {
            "node": "Controllo cambio versione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controllo cambio versione": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Impostazioni variabili applicazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f865781-0449-4d75-8110-b57a782a38d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a86676d77aab6433303a48c2775b14bd4b100d9fe19c4ea7bca4b124eb7ef59"
  },
  "id": "Zbnu7zPeHZJk4PxN",
  "tags": [
    {
      "createdAt": "2025-08-01T15:32:44.868Z",
      "updatedAt": "2025-08-01T15:32:44.868Z",
      "id": "SPKwEsnnurYd41Mx",
      "name": "CQOP"
    }
  ]
}